* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Karla;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caret:before {
    content: "^";
    position: absolute;
    margin: -0.4em 0 0 0.1em;
    font-size: 0.8em;
}

a {
    color: #6b5fd1;
}

a:visited {
    color: #3f387d;
}

.dashboard p {
    font-size: 0.95rem;
    margin: 0.75rem 0;
    line-height: 1.4;
    color: #222;
}

.dashboard h2 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.dashboard h2:after {
    position: absolute;
    content: "";
    width: 200%;
    border-bottom: 1px solid #c4befd;
    margin-left: 0.75rem;
    top: 50%;
}

.preset_info .description {
    background: #eee;
    padding: 0.65rem 0.75rem;
    border-radius: 5px;
    color: #111;
}

.preset_info li {
    margin: 0.25rem 0 0.25rem 1.75rem;
}

.preset_info .inline_highlight {
    background: #615e7d;
    color: #fefefe;
    padding: 1px 5px;
    border-radius: 2px;
    letter-spacing: 1px;
}

.preset_info .inline_cursor {
    padding: 1px 4px;
    border: 1px solid #9791cf;
    border-left-width: 10px;
    border-right-width: 10px;
    background: rgba(200, 200, 250, 0.25);
    border-radius: 4px;
}

.preset_info .dynamic {
    padding: 1px 4px;
    background: #eee;
    border-radius: 2px;
}

.resist_pull_down {
    animation: resist_pull_down 0.2s ease-out infinite;
}
.resist_pull_up {
    animation: resist_pull_up 0.2s ease-out infinite;
}

@keyframes resist_pull_down {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 4px;
    }
    100% {
        margin-top: 0;
    }
}
@keyframes resist_pull_up {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -4px;
    }
    100% {
        margin-top: 0;
    }
}
