* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Karla;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caret:before {
    content: "^";
    position: absolute;
    margin: -0.4em 0 0 0.1em;
    font-size: 0.8em;
}

a {
    color: #6b5fd1;
}

a:visited {
    color: #3f387d;
}
